# IDE
.idea/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Large data files
*.pkl
*.ld
*.htf

# Data directories
processed_data/
models/
raw_data/*.htf
training_data/*.htf
test_data/*.htf

# OS
.DS_Store
Thumbs.db
